body {
  background-color: #5c00e6;
}

.titulo {
  color: #ffffff;
  text-align: center;
}

.container-principal {
  background-color: #ffffff;
  margin: 0 auto;
  width: 19rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
}

.container-topo {
  margin-bottom: 1rem;
}

.box-medias {
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
}